@import "reset.css";
@font-face { font-family: 'DOSMyungjo'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff') format('woff'); font-weight: normal; font-style: normal; }

body { 
  background-color: #f6f9fc; 
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}
h1 { padding: 30px 0; font-family: 'DOSMyungjo'; font-size: 28px;}


/* 고양이 리스트 */
.cats__list {
  margin: 30px 0; 
  display: flex;
  justify-content: space-between;
  width: 700px;
}
.cats__list li {
  overflow: hidden;
  width: 105px;
  height: 80px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  box-sizing: border-box;
}
.cats__list li > p {
  display: none;
  width: 100%;
  height: 100%;
  font-family: 'DOSMyungjo';
  color: #fff;
  border-radius: 15px;
  background-color: rgba(0,0,0,0.7);
  text-align: center;
  padding: 32px 0;
  box-sizing: border-box;
}


/* 캔버스 */
.canvas { 
  padding: 10px;
  width: 700px; 
  height: 500px; 
  box-sizing: border-box;
  background-color: white; 
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: url(./img/brush.cur) 2 30, auto;
}
.controls {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 버튼 컨트롤 */
.controls .controls__btns {
  margin: 30px 0;
}
.controls__btns button {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 10px 4px;
  width: 100px;
  font-family: 'DOSMyungjo'; 
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: #9f9f9f;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.controls__btns button:active {
  transform: scale(0.98);
}


/* 범위 컨트롤 */
.controls__range > div {
  display: inline-block;
  background-color: #9f9f9f;
  border-radius: 50%;
}
.controls__range > div:first-child {
  transform: translate(-5px, -6px);
  width: 8px;
  height: 8px;
}
.controls__range > div:last-child {
  transform: translate(5px, -5px);
  width: 12px;
  height: 12px;
}


/* 색상 컨트롤 */
.controls .controls__colors {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.controls__colors img { display: none;}
.controls__colors .controls__color {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}
.controls__colors .controls__color:last-child { 
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(./img/colorpicker.png);
  background-size: cover;
}
.controls__colors .controls__color:last-child input { 
  opacity: 0;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}