@import "reset.css";

body { 
  background-color: #f6f9fc; 
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}
.canvas { 
  padding: 10px;
  width: 700px; 
  height: 500px; 
  box-sizing: border-box;
  background-color: white; 
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: url(./img/brush.cur) 0 35, auto;
}
.controls {
  margin-top: 80px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* 범위 컨트롤 */
.controls .controls__range {
  margin-bottom: 30px;
}
/* 버튼 컨트롤 */
.controls .controls__btns {
  margin-bottom: 30px;
}
.controls__btns button {
  all: unset;
  cursor: pointer;
  background-color: white;
  padding: 8px 0;
  width: 80px;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  text-transform: uppercase;
}
.controls__btns button:active {
  transform: scale(0.98);
}
/* 색상 컨트롤 */
.controls .controls__colors {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.controls__colors img { display: none;}
.controls__colors .controls__color {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}
.controls__colors .controls__color:last-child { 
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(./img/colorpicker.png);
  background-size: cover;
}
.controls__colors .controls__color:last-child input { 
  opacity: 0;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}